@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}

	html,
	body,
	#__next {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family: "Sharp Grotesk", sans-serif;
		background: black;
	}

	.fit-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 1280px;
		width: 90%;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		src: url("../public/fonts/SharpGroteskBook20-Regular.woff2") format("woff2");
		font-display: auto;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		src: url("../public/fonts/SharpGroteskMedium20-Regular.woff2") format("woff2");
		font-display: auto;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
		src: url("../public/fonts/SharpGroteskBookItalic20-Regular.woff2") format("woff2");
		font-display: auto;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: normal;
		font-weight: 400;
		font-stretch: expanded;
		src: url("../public/fonts/SharpGroteskBook25-Regular.woff2") format("woff2");
		font-display: auto;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: normal;
		font-weight: 700;
		font-stretch: expanded;
		src: url("../public/fonts/SharpGroteskMedium25-Regular.woff2") format("woff2");
		font-display: auto;
	}

	@font-face {
		font-family: "Sharp Grotesk";
		font-style: italic;
		font-weight: 700;
		font-stretch: expanded;
		src: url("../public/fonts/SharpGroteskMediumItalic20-Regular.woff2") format("woff2");
		font-display: auto;
	}
}

/* HEADER */
header {
	backdrop-filter: blur(0.75rem) brightness(80%);
	border: 0.05rem solid rgba(255, 255, 255, 0.15);
	animation: reveal 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header h1 {
	font-family: "Sharp Grotesk";
	font-weight: 700;
	font-stretch: expanded;
}

header a:hover {
	@apply text-neutral-400;
	transition: color 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logo {
	/* fill: url(#GradientLogo); */
	@apply fill-neutral-300;
}

@keyframes reveal {
	0% {
		opacity: 0;
		transform: translateY(-2rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* FRONT PAGE */
.front-page-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 100svh;
	width: 100vw;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.front-page-content > div {
	scroll-snap-align: start;
}

.introduction-reveal .front-page-introduction-title {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
}

.introduction-reveal .glass-container {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}

.introduction-reveal .front-page-introduction-feature-0 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}

.introduction-reveal .front-page-introduction-feature-1 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.75s forwards;
}

.introduction-reveal .front-page-introduction-feature-2 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s forwards;
}

.introduction-reveal .front-page-introduction-feature-3 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.25s forwards;
}

.introduction-reveal .front-page-introduction-feature-4 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s forwards;
}

.introduction-reveal .front-page-introduction-feature-5 {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.75s forwards;
}

.glass-container {
	opacity: 0;
	transform: translateY(-2rem);
	border: 0.05rem solid rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(0.75rem) brightness(80%);
	background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
}

/* TEXT REVEAL */
.text-reveal-frontpage {
	margin-block: auto;
	font-size: clamp(1.5rem, 3vw + 1rem, 6rem);
}

.text-reveal-frontpage h1 {
	font-stretch: expanded;
	font-weight: 700;
}

.text-reveal-frontpage h1 > span {
	display: inline-block;
	opacity: 0;
	transform: translateX(-100%);
}

.text-reveal-frontpage h1 > span:nth-child(1) {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
}

.text-reveal-frontpage h1 > span:nth-child(3),
.text-reveal-frontpage h1 > span:nth-child(4),
.text-reveal-frontpage h1 > span:nth-child(5) {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}

.text-reveal-frontpage h1 > span:nth-child(7) {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}

.text-reveal-frontpage h1 > span:nth-child(9),
.text-reveal-frontpage h1 > span:nth-child(10) {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s forwards;
}

.box-container {
	display: inline-flex;
	backdrop-filter: blur(0.5rem) brightness(80%);
	box-shadow: 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.15);
	@apply border-2 border-neutral-300 md:px-6 px-4 rounded-full md:leading-snug leading-relaxed;
}

.box-container-solid {
	display: inline-flex;
	backdrop-filter: blur(0.5rem) brightness(80%);
	box-shadow: 0 0 0.75rem 0.25rem rgba(255, 255, 255, 0.15);
	@apply border-2 bg-neutral-300 text-neutral-800 border-neutral-300 md:px-6 px-4 rounded-full md:leading-snug leading-relaxed;
}

.introduction-container,
.empowering-neophytes-container {
	gap: clamp(1.5rem, 3vh + 1rem, 4.5rem);
}

/* EMPOWERING NEOPHYTES */
.empowering-neophytes-reveal .empowering-neophytes-title {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s forwards;
}

.empowering-neophytes-reveal #empowering-neophytes-text {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
}

.empowering-neophytes-reveal #TVT {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}

.empowering-neophytes-reveal #TVL {
	animation: reveal 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}

/* FOOTER */
footer {
	border: 0.05rem solid rgba(255, 255, 255, 0.15);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	backdrop-filter: blur(0.75rem) brightness(70%);
	background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
}

/* UTILS */
.h-true-screen {
	height: 100svh;
}

.btn-solid,
.btn-ghost {
	cursor: pointer;
	outline: none;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

.btn-solid {
	transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-solid:hover {
	transform: scale(1.05);
	transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-ghost::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	transform-origin: center;
	transform: translate3d(-50%, -50%, 0) scale(0, 0, 0);
	transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	@apply bg-neutral-300;
}

.btn-ghost:hover {
	transform: scale(1.05);
	transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 150ms ease-out;
	@apply text-neutral-950;
}

.btn-ghost:hover::before {
	transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
